

/* Boja pozadine Menua */
.topnav {
    overflow: hidden;
    background-color: #333;
    
  }
  
  /* Prikazivanje */
  .topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 70px;/* Važno! Širina menija */
    text-decoration: none;
     
  }

  
  /* Definira boju kada je prođeno s mišem*/
  .topnav a:hover {
    background-color: rgb(45, 202, 163);
 
    color:blue;
    
  }
  
  /*Izgled i oblik dropdown menija*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /*izgled dropdown menija*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00ff4c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  /*prikazivanje*/
  .dropdown:hover .dropdown-content {
    display: block;
   padding: 12px 16px;
  }

  header{
      background-color: rgb(185, 240, 240);
  }
